<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <customErrors mode="Off" />
    <identity impersonate="true" />
    <authentication mode="Forms">
            <forms cookieless="UseCookies" defaultUrl="~/Default.html" loginUrl="Logon.aspx" protection="Validation" />
    </authentication>
  <securityPolicy>
    <trustLevel name="Full" policyFile="internal" />
  </securityPolicy>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
    <system.webServer>
<handlers>
<add name="*.ps1x_*" path="*.ps1x" verb="*" type="nsoftware.PSHandler, nsoftware.PowerShellASP" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
</handlers>
        <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="Default.html" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
                <windowsAuthentication enabled="false" />
            </authentication>

        </security>
        <modules>
            <remove name="FormsAuthentication" />
            <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" preCondition="" />
        </modules>
    </system.webServer>
</configuration>